@import "../../assets/css/font-awesome.css";

body {
  margin: 0;
  font-family: Regular;
  background-color: #fff9e3;
}

@font-face {
  font-family: Light;
  src: url("../../assets/fonts/Ubuntu-Light.ttf") format("truetype");
}
@font-face {
  font-family: Bold;
  src: url("../../assets/fonts/Ubuntu-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Regular;
  src: url("../../assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}
